* {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;   
}
body {
    font-family: 'Ubuntu', sans-serif;
    background: #F3F5FC;   
    display: flex;
    flex-flow: column nowrap;     
    align-items: center;        
}

header {            
    width: 80%;
    margin-top: 30px;
}

.logo {        
    width: 8%;
}

main {        
    display: flex;
    flex-flow: row nowrap;   
    width: 60%; 
}

.text-area {
    background-color: #F3F5FC;
    border: none;
    color: #0a3871;
    margin-top: 90px;
    text-transform: lowercase;
    resize: none;
    width: 100%;
}

::placeholder {
    color: #0a3871;
    font-size: 18px;
}

.text-area:focus {
    outline: none;
}

.mensaje {
    background: white;
    background-image: url("../img/muñeco2.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 20px;
    margin-top: 20px;   
    padding: 20px;  
    text-transform: lowercase;
    pointer-events: none;
    resize: none;
    width: 336px;
    height: 450px;
}

.mensaje:focus {
    outline: none;
}   

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-encriptador {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    font-size: 16px;
    margin-right: 10px;
    width: 328px;
}

.btn-desencriptador {
    background-color: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    font-size: 16px;    
    width: 328px;
}

.btn-copiar {
    background-color: white;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    position: fixed;
    margin-top: -100px;
    font-size: 16px;
    margin-left: 40px;
    width: 300px;
    display: none;
}

.message {
    display: flex;
}
    .message #warning {
        height: 30px; 
        opacity: 0;
    }

    .message #check {
        height: 30px; 
        opacity: 0;
    }

.informacion {
    color: #495057;
    font-size: 18px;            
}    

.footer {   
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
    .pie{
        /* background: #A0E4CB; */
        width: 500px;     
        text-align: center;   
    }
    .pie h5{
        color: #0A3871;  
        letter-spacing: 1px;      
    }
    .pie p{
        color: #0A3871;  
        letter-spacing: 1px;      
    }
    .pie img {            
        height: 30px;               
    } 