* {
    background: #F3F5FC;
    font-family: 'Inter'; 
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;   
}
body {
    display: flex;         
}

.padre {
    
    display: flex;
    flex-flow: column ;     
    justify-items: center;
}
header {    
    width: 100%;
}

.logo {    
    padding-top: 10px;
    margin-left: 10px;
    width: 15%;
}

main {    
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0a3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {
    color: #0a3871;
    font-size: 18px;
}

.text-area:focus {
    outline: none;
}

.mensaje {
    background: white;
    background-image: url("../img/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    text-transform: lowercase;
    pointer-events: none;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-encriptador {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    font-size: 18px;
    margin-right: 10px;
    width: 328px;
}

.btn-desencriptador {
    background-color: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    font-size: 18px;    
    width: 328px;
}

.copiar {
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    font-size: 18px;
    width: 336px;
}

.informacion {
    color: #495057;
    font-size: 18px;            
}